<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> ID </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
    </ng-container>

<!-- NOMBRE -->
    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> Nombre </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno | fullName}} </td>
    </ng-container>

    <!-- Curso -->
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> Curso </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.curso }} </td>
    </ng-container>


    <!-- Correo -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD" > Correo </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
    </ng-container>

    <!-- Clave -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> Clave </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.password}} </td>
    </ng-container>


    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD" > Acciones </th>
        <td mat-cell *matCellDef="let alumno">

            <button (click)="editAlumno.emit(alumno)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            
            <button (click)="deleteAlumno.emit(alumno)"  mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>

            <button [routerLink]="alumno.id" mat-icon-button color="primary">
                <mat-icon>visibility</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>