<h1 matDialogTitle> 
    {{
        editingCurso 
        ? 'Editando ' + editingCurso.name + " " + editingCurso.price
        : "Crear Curso"
    }}
</h1>


<div matDialogContent>
    <form [formGroup]="cursoForm" action="" class="grid">

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <mat-error>

                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input formControlName="description" matInput type="text" name="description">
                <mat-error>
                    
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input formControlName="price" matInput type="text" name="price">
                <mat-error>
                    
                </mat-error>
            </mat-form-field>
        </div>

    </form>
</div>

<div class="flex justify-content-end" matDialogActions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="button" mat-button>Guardar</button>
</div>