<h1 matDialogTitle>Completar con sus datos</h1>
<div matDialogContent>
    <form  [formGroup]="userForm"  action="" class="grid">


        <!-- NOMBRE -->
        <div class="col-6 field">
            <mat-form-field >
                <mat-label>Nombre</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>
                <!-- <mat-error *ngIf="nameControl.hasError('noNumber')">No se permiten números</mat-error> -->
    
            </mat-form-field>  
        </div>
    <!-- Apellido -->
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input formControlName="lastname" matInput type="text" name="lastname">
                <mat-error *ngFor="let error of lastNameControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>

            </mat-form-field>  
        </div>

        <!-- Nota -->
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Nota</mat-label>
                <input formControlName="nota" matInput type="text" name="nota">
                <mat-error *ngFor="let error of notaControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>

            </mat-form-field>  
        </div>
    <!-- Email -->
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Correo</mat-label>
                <input formControlName="email" matInput type="email" name="email">
                <mat-error *ngFor="let error of emailControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>

            </mat-form-field>  
        </div>

    <!-- Password -->
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput type="password" name="password">
                <mat-error *ngFor="let error of passwordControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>

            </mat-form-field>
        </div>
    </form>
</div>

<div class="flex justify-content-end" matDialogActions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmit()" type="button" mat-button>Guardar</button>
</div>