

<h1 matDialogTitle>
    {{
        editingProfe
        ? 'Editando a ' + editingProfe.name
        : 'Crear Curso'
    }}
</h1>

<div matDialogContent>
    <form [formGroup]="profeForm" action="" class="grid">

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Nombre del curso</mat-label>
                <input formControlName="name" matInput type="text" name="name">
                <mat-error *ngFor="let error of nameControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Titulo</mat-label>
                <input formControlName="titulo" matInput type="text" name="titulo">
                <mat-error *ngFor="let error of tituloControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6 field">
            <mat-form-field>
                <mat-label>Materia</mat-label>
                <input formControlName="materia" matInput type="text" name="materia">
                <mat-error *ngFor="let error of materiaControl.errors | keyvalue">
                    {{error | errorMessages}}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div class="flex justify-content-end" matDialogActions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSubmitProfe()" type="button" mat-button>Guardar</button>
</div>