<h1>Conoce a nuestros profesores</h1>
<br>
<p>Estos profesores seran quienes te acompañen a lo largo del curso que elijas</p>

<table mat-table [dataSource]="(data$ |async) || []" class="mat-elevation-z8">

    <!-- ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> ID </th>
        <td mat-cell *matCellDef="let profesor"> {{profesor.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> Nombre </th>
        <td mat-cell *matCellDef="let profesor"> {{profesor.name}} </td>
    </ng-container>

    <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD"> Descripción </th>
        <td mat-cell *matCellDef="let profesor"> {{profesor.materia}} </td>
    </ng-container>

    <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD">Titulo </th>
        <td mat-cell *matCellDef="let profesor"> {{profesor.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef appResaltado="#5C9EAD">Acciones </th>
        <td mat-cell *matCellDef="let profesor">
            <button (click)="onDelete(profesor.id)" mat-icon-button color="warn">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<div class="mt-5 flex justify-content-end">
    <button (click)="agregarProfe()" mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Agregar Profesor
    </button>

</div>